@import "./avatar.css";
@import "./aura-view.css";
@import "./main-layout.css";

hr {
  background: var(--vaadin-border-color-secondary);
  border: 0;
  margin: var(--vaadin-gap-m) 0;
  max-height: 1px;
  min-height: 1px;
  place-self: stretch stretch;
}

.invoices-view .filters,
.allegro-view .filters {
  align-items: end;
  display: flex;
  flex-wrap: wrap;
  gap: var(--vaadin-gap-s);
  padding: 0 var(--vaadin-padding-m) var(--vaadin-padding-s);
}

.allegro-view .banner {
  padding: 0 var(--vaadin-padding-m) var(--vaadin-padding-m);
}

.invoice-details-dialog .dialog-content,
.invoice-details-dialog .dialog-lines {
  display: flex;
  flex-direction: column;
  gap: var(--vaadin-gap-s);
}

.invoice-details-dialog .dialog-lines {
  margin-top: var(--vaadin-gap-m);
}
